@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  /* font-family: 'DM Sans', sans-serif; -- Handled in index.css */
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

/* Firefox */
.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--muted-foreground) transparent;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

/* Chrome, Edge, Safari */
.sidebar-scroll::-webkit-scrollbar {
  width: 2px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
  margin: 8px 0;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: var(--muted-foreground);
  border-radius: 4px;
  min-height: 20px;
}

/* STOP hover color change */
.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--muted-foreground);
  /* SAME as normal */
}

/* STOP click color change */
.sidebar-scroll::-webkit-scrollbar-thumb:active {
  background: var(--muted-foreground);
}